

.navbar {
    background-color: #252F31;
    color: #FFF;
   
}

   

.navbar li{
    display: inline;
    margin: 20px 20px;
    font-size: 30px;

}

.navbar li:hover{
    background-color: grey;
   

}
.navbar li a{

    text-decoration: none;
}

/*
.form_data{
	background-color: #252F31;
}*/

.form fl-left {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}
