{% extends "layout.html" %}










{% block body %}


<div class="form_div">
	<form action="{{ url_for('form_posts') }}" method="post" class="form_data">

		<label> Name *</label><br>
		<input class="inp" type="text" name="name"><br><br>
		<label>Email Address *</label><br>
		<input class="inp" type="text" name="Email"><br><br>
		<label>Phone *</label><br>
		<input class="inp" type="text" name="phone_number"><br><br>
		<label >About you *</label><br>
		<textarea class="message" type="text" name="msg"></textarea><br><br>
		<input type="submit" value="post"><br><br>


	</form>
</div>



{%endblock%}