<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}


<div>
	<div class="poor">
	</div>




	<div class="our_team text-center">
		<div class="team">
			<div class="container">
				<h1> Who Are You ?!</h1>
				<div class="row">
					
					<div class="person">
						<img  src="../static/images/man.jpg" alt="img">
						<h3> Odai Almasri</h3>
						<p> iam odai almasri <br>of the amazing website css-trikes </p> 




					</div>
				</div>

			</div>

		</div>
		<div class="mohammed">
			<img  src="../static/images/man.jpg" alt="img">
			<h3> Odai Almasri</h3>
			<p> iam odai almasri <br>of the amazing website css-trikes </p> 
		</div>
		<div class="sirra">
			<img  src="../static/images/man.jpg" alt="img">
			<h3> Odai Almasri</h3>
			<p> iam odai almasri <br>of the amazing website css-trikes </p> 
		</div>
		<div class="ishan">
			<img  src="../static/images/man.jpg" alt="img">
			<h3> Odai Almasri</h3>
			<p> iam odai almasri <br>of the amazing website css-trikes </p> 
		</div>
		<!-- <div class="footer">
			<div class="container">
				<span class="fl-right"> 
					<ul>
						<a href="https://www.facebook.com/odai.almasri2001" target="_blank"><li> <img src="../static/images/icon/facebook.png"/32> </li>
							<a href="https://www.instagram.com/odai.almasri " target="_blank"><li> <img src="../static/images/icon/instagram.png"/32> </li>


							</ul>

						</div>
 -->






						{%endblock%}