<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}





<div class="poor"></div>


<div class="about_us">
	<h1> Who Are You ?!</h1>




	<div class="mohammed">
		<img class="my_image"  src="../static/images/man.jpg" alt="img">
		<h3 class="ab"> Mohammed Hijazi</h3>
		<p> &nbsp iam Mohammed Hijazi <br> &nbsp Web Developer </p> 
	</div>



	<div class="odai">
		<img class="odai_image"  src="../static/images/man.jpg" alt="img">
		<h3 class="ab"> odai</h3>
		<p> &nbsp iam odai al masry <br> &nbsp im john cena </p> 
	</div>






{%endblock%}