<!DOCTYPE html>
<html>
<head>
	<title>finalproject</title>
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css?version=1t">
	{%block head%}
	{%endblock%}
</head>


<body>
	
	<div class="navbar">
		<div class="container">

		
			<!-- <h2 class="fl-left">Oa<span>di</span></h2> -->


			<ul>
				<li class="active"><a href="#">Home </a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Features </a></li>
				<li><a href="#">Resume</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">protfolio</a></li>
				<li><a href="#">Contact Me</a></li>
			</ul>

	</div>



		{%block body%}
		{%endblock%}

	</body>





	</html>