<!DOCTYPE html>
<html>
<head>
	<title>finalproject</title>
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
	{%block head%}
	{%endblock%}

</head>





<body>
	
	<div >

			<!-- <h2 class="fl-left">Oa<span>di</span></h2> -->


			<ul class="navbar">
				<li><a href="/">Home </a></li>
				<li><a href="/form">musa3ada</a></li>
				<li><a href="#">Charitries</a></li>
				<li><a href="/display_stories">stories</a></li>
			</ul>

	</div>


		{%block body%}
		{%endblock%}

	</body>





	</html>