{% extends "layout.html" %}


{% block body %}


<div class="stories">
	<h1>my name is: Mohammed </h1>
	<br>
	<p>here is my story : my name is john cena</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h4>my email : mohammedhijazi199@gmail.com</h3>
	<br>
	<h4>my phone number : 0595659651</h5>
</div>





<!-- {% for user in story %}

	<h1>my name is:{{user.username}}</h1>
	<br>
	<p>here is my story {{user.user_info}}</p>
	<br>
	<h3>my email : {{user.Email}}</h3>
	<br>
	<h3>my phone number : {{user.phonenumber}}</h3>

{% endfor %}
 -->

<!-- {% for user in story %} -->

<!-- {% endfor %} -->





{%endblock%}